* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 9999;
}
header.active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
header .container .logo {
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header .container .nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .container .nav .link {
  font-size: 24px;
  font-weight: bold;
  color: #4c4c4c;
  outline: none;
}
header .container .nav .link.active {
  color: #ff4a4a;
}
header .container .user-actions {
  display: flex;
  gap: 24px;
}
header .container .user-actions .icon-btn {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}
header .container .user-actions .icon-btn:hover {
  color: #ff4a4a;
}

main {
  position: relative;
  width: 100%;
  margin-top: 70px;
}
main .container {
  display: flex;
  position: relative;
}
main .container .sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 30%;
  padding-right: 30px;
}
main .container .sidebar .filter-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
main .container .sidebar .filter-list .filter-type {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .container .sidebar .filter-list .filter-type .filter-title {
  font-size: 24px;
  font-weight: bold;
  color: #4c4c4c;
}
main .container .sidebar .filter-list .filter-type .list-cate {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
main .container .sidebar .filter-list .filter-type .list-cate button {
  padding: 10px 32px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #cdcdcd;
  background: none;
  cursor: pointer;
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
main .container .sidebar .filter-list .filter-type .list-cate button.active {
  border-color: #ff4a4a;
  color: #ff4a4a;
}
main .container .sidebar .filter-list .filter-type .list-cate button:hover {
  border-color: #ff4a4a;
  color: #ff4a4a;
  background: rgba(255, 74, 74, 0.0588235294);
}
main .container .sidebar .filter-list .filter-type .price-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main .container .sidebar .filter-list .filter-type .price-select input {
  width: 100%;
  cursor: pointer;
}
main .container .sidebar .filter-list .filter-type .price-select .price-label {
  font-size: 18px;
  font-weight: 600;
  color: #ff4a4a;
}
main .container .sidebar .filter-list .filter-type .list-rate {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
main .container .sidebar .filter-list .filter-type .list-rate input {
  display: none;
}
main .container .sidebar .filter-list .filter-type .list-rate input:checked + label {
  color: #ffda7b;
}
main .container .sidebar .filter-list .filter-type .list-rate label {
  color: #cdcdcd;
  cursor: pointer;
  font-size: 18px;
}
main .container .sidebar .filter-list .filter-type .list-rate label.active {
  color: #ffda7b;
}
main .container .sidebar .clear-btn {
  width: 100%;
  border-radius: 50px;
  padding: 15px 30px;
  background: #ff4a4a;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}
main .container .list-products {
  position: relative;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main .container .list-products .search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
main .container .list-products .search-bar input {
  width: 100%;
  padding: 12px 50px 12px 18px;
  border: 1px solid #cdcdcd;
  border-radius: 50px;
  font-size: 16px;
  color: #4c4c4c;
  outline: none;
}
main .container .list-products .search-bar .search-btn {
  position: absolute;
  right: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff4a4a;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
main .container .list-products .products {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container .list-products .products .list {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px 0;
}
main .container .list-products .products .list .item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
}
main .container .list-products .products .list .item:nth-child(2n-1) {
  padding-right: 15px;
}
main .container .list-products .products .list .item:nth-child(2n) {
  padding-left: 15px;
}
main .container .list-products .products .list .item .img {
  width: 100%;
  height: 200px;
  border-radius: 14px;
  background: #cdcdcd;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container .list-products .products .list .item .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .list-products .products .list .item .line .name {
  font-size: 20px;
  font-weight: 600;
  color: #4c4c4c;
}
main .container .list-products .products .list .item .line .price {
  font-size: 18px;
  font-weight: 600;
  color: #ff4a4a;
}
main .container .list-products .products .list .item .line .short-desc {
  font-size: 16px;
  color: #4c4c4c;
}
main .container .list-products .products .list .item .line .rating {
  display: flex;
  align-items: center;
  gap: 4px;
}
main .container .list-products .products .list .item .line .rating i {
  color: #ffda7b;
}
main .container .list-products .products .list .item .line .address {
  display: flex;
  align-items: center;
  gap: 8px;
}
main .container .list-products .products .list .item .line .address p {
  font-size: 14px;
  font-weight: 400;
  color: #4c4c4c;
}
main .container .list-products .products .list .item .line .address i {
  color: #ff4a4a;
}
main .container .list-products .products .list .item .line .order-btn {
  padding: 10px 30px;
  border-radius: 50px;
  background: #ff4a4a;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
main .container .list-products .products .pagination {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
main .container .list-products .products .pagination .pagi-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
  color: #4c4c4c;
  border: 1px solid #cdcdcd;
  font-size: 18px;
  font-weight: 500;
}
main .container .list-products .products .pagination .pagi-btn.active {
  background: #ff4a4a;
  color: white;
  border: none;
}/*# sourceMappingURL=style.css.map */